body {
  background-color: #44c3e5;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}
.first-container {
  background-color: white;
  width: 600px;
  height: 600px;
  padding: 30px;
}
h1 {
  color: #74c1d5;
  margin: 0;
  margin-bottom: 50px;
}
.input {
  width: 100%;
  height: 50px;
  border: 1px solid #dadada;
  margin-bottom: 50px;
}
.input p {
  margin-left: 30px;
  color: #a69b9f;
}
.button {
  background-color: #47c4e7;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button p {
  color: white;
}